version: '3.7'

services:
  app:
    build: .
    env_file: .env
    volumes:
      - .:/usr/src/TheMoviePredictor
    networks:
      - database_net
    # command: tail -f /dev/null
  database:
    image: mysql:latest
    environment: 
      - MYSQL_RANDOM_ROOT_PASSWORD=${mysql_random_root_password}
      - MYSQL_USER=${mysql_user}
      - MYSQL_PASSWORD=${mysql_password}
      - MYSQL_DATABASE=${mysql_database}
    networks:
      - database_net
    ports:
      - 3306:3306
    volumes:
      - database_data:/var/lib/mysql
    command: --default_authentication_plugin=mysql_native_password
  adminer:
    image: dehy/adminer
    networks:
      - database_net
    ports:
      - 8080:80

networks:
  database_net:
    driver: bridge

volumes:
  database_data: